<h1 mat-dialog-title>{{ dialogTitle }}</h1>

<div mat-dialog-content>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <!--Movie Title-->
    <mat-form-field appearance="legacy" class="full-width" hideRequiredMarker>
      <mat-label>Movie title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        cdkFocusInitial
      />
      <mat-error
        *ngIf="movieForm.controls['firstName']?.errors?.required"
      ></mat-error>
    </mat-form-field>

    <!--Amount of episode-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Amount of episodes</mat-label>
      <input
        matInput
        type="number"
        min="1"
        name="episodes"
        formControlName="episodes"
      />
      <span matSuffix>episodes</span>
    </mat-form-field>

    <!--Movie information URL-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Movie information URL</mat-label>
      <input matInput type="text" name="info_url" formControlName="info_url" />
    </mat-form-field>

    <!--Movie watch URL-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Movie watch URL</mat-label>
      <input
        matInput
        type="text"
        name="watch_url"
        formControlName="watch_url"
      />
    </mat-form-field>

    <div class="btn-position">
      <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        class="btn-padding"
        color="primary"
        type="submit"
        [disabled]="!movieForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
