input {
  font-size: 15px;
}

.full-width {
  width: 100%;
}

.btn-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btn-padding {
  margin-left: 10px;
}
