<h1 mat-dialog-title>Add a Movie</h1>

<div mat-dialog-content>
  <form>
    <!--Movie Title-->
    <mat-form-field appearance="legacy" class="full-width" hideRequiredMarker>
      <mat-label>Movie title</mat-label>
      <input matInput focused required />
      <mat-error> <!--*ngIf Here--> </mat-error>
    </mat-form-field>

    <!--Amount of episode-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Amount of episodes</mat-label>
      <input matInput type="number" min="1" />
      <span matSuffix>episodes</span>
    </mat-form-field>

    <!--Movie information URL-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Movie information URL</mat-label>
      <input matInput />
    </mat-form-field>

    <!--Movie watch URL-->
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Movie watch URL</mat-label>
      <input matInput />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <div class="btn-position">
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Submit</button>
  </div>
</div>
